.table-btn {
  margin: 0;
  background-color: rgb(7, 0, 65);
  font-size: 20px;
  display: block;
  text-align: center;
  color: aliceblue;
  width: 100%;
  cursor: pointer;
  padding: 20 px;
}
.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.users-table th,
.users-table td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

.users-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
