body {
  font-family: Arial;
  padding: 10px;
}

.toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.fontStyle {
  padding: 2px;
}

#editor {
  width: 50%;
  height: 180px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 8px;
  font-size: 12pt;
}
